:host(){
    --yellow:#f9ba49;
    --dark-blue:#0c2451;
    --white:#f6f8fc;
    --green:#116b2c;
    --red:#ec0909;
    --font-16:16px;
    --font-24:24px;
    --font-12:12px;
  }

  h1{
    color: var(--dark-blue);
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: var(--font-16);
  }

  .currency-app{
    background: url(/sfsites/c/resource/currencyConverterAssets/currencyConverterAssets/currencyAppBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  img{
    display: block;
    margin: auto;
  }

  .custom-card{
    max-width: 520px;
    background: var(--yellow);
    border-radius: 25px;
    min-width: 370px;
    padding: var(--font-16);
  }
  .custom-button, .custom-button:hover, .custom-button:active{
    background: var(--dark-blue);
    color: var(--white);
    padding: var(--font-12);
    font-size: var(--font-24);
    margin-top: var(--font-12);;
  }

  .baseline{
    align-items: baseline;
  }

  .custom-icon {
    --slds-c-icon-color-background: var(--dark-blue);
    --slds-c-icon-color-foreground: var(--yellow);
    transform: rotate(45deg);
  }

  .result{
    font-size: var(--font-24);
    margin-bottom: var(--font-24);
    font-weight: bold;
    color: var(--green);
  }
  .result-to{
    color:var(--red);
  }