.item-box {
    display: grid;
    grid-template-columns: 90px 300px 1fr 100px;
    grid-template-rows: auto auto;
    gap: 10px;
    border: 2px solid #0070D2;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

.image-section {
    background: #ededed;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.image-section img {
    width: 60px;
    height: auto;
}

.details-section {
    grid-column: 2 / 4;
}

.details-section .brand {
    font-weight: 400px;
    font-size: 14px;
}

.details-section .product-name {
    font-weight: bold;
    font-size: 18px;
}

.details-section .warranty a {
    color: #0070D2;
    text-decoration: none;
}

.price-section {
    grid-column: 4 / span 1;
    text-align: right;
}

.price-section .price {
    font-weight: bold;
    font-size: 18px;
}

.price-section .old-price {
    text-decoration: line-through;
    color: gray;
}

.quantity-section {
    grid-column: 2 / span 1;
}

.quantity-box {
    display: flex;
    border: 3px solid #ccc;
    padding: 2px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}

.quantity-box button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.delete-section {
    grid-column: 4 / span 1;
    text-align: right;
    margin-top: 21px;
}