.list-first{
    border-bottom:1 px solid black;
    padding-bottom: 5px;
    background-color:blue;
    }
    .list-last{
        border-bottom:1 px solid black;
        padding-bottom: 5px;
        background-color:red;
        }